{% extends "movieapp/base.html" %}
{% block content %}
{% load static %}


<h1>All Movies</h1>


<button class="btn btn-info mb-4"> 
  <a class="section1">Scroll to bottom</a>
</button>


<br>
<!--The below is pulling in all movies from the database with certain details -->
  <div>
      <table class="table">
          <tr>
              <th class="thead">Movie Name</th>
              <th>Release Year</th>
              <th>Genre</th>
              <th><a class="article-title" href="{% url 'movie-directors' %}">Director (s)</a></th>
              <!-- <th><a class="article-title" href="{% url 'movie-directors' %}">Co-Director</a></th>    -->                     
          </tr>
          {% for movie in movies %}
              <tr>
                  <td><a  class="article-title" href="#">{{ movie.movie_name }}</a></td>
                  <td>{{ movie.movie_release_year }}</td>
                  <td>{{ movie.movie_genre }}</td>
                  <td>
                    {{ movie.director_Name }}
                    <!-- If function to change format for when there is a 2nd Director -->
                    {% if movie.director_Name_2 is NULL %}
                        <!-- Intentionally left blank -->
                    {% else %}
                      and {{ movie.director_Name_2 }}
                    {% endif %}
                  </td>
              <tr>
          {% endfor %}
      </table>
  </div>
   

  <!--This includes pagination on our web-page-->
  {% if is_paginated %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}
    
  {% endif %}

  <br>

<button class="btn btn-info mb-4"> 
  <a class="section2">Scroll to top</a>
</button>


  
<!--This js script is if we are at the bottom of the page and want to easily scrool to the top-->
<script src="{% static 'movieapp/smooth-scroll.js' %}"></script>

  {% endblock content %}

